extends ../layout

block content
  div.layui-card
    div.layui-card-header #{title}
    div.layui-card-body
      div.inline-block(style="width: 200px;")
        input.layui-input.js-codename(type="text", placeholder="查询物品代码")
      div.inline-block(style="vertical-align: top;")
        button.layui-btn.js-search-btn 查询
      div.inline-block(style="vertical-align: top;")  
        label.layui-form-label 发送数量
      div.layui-input-block(style="vertical-align: top;")  
        input.layui-input.js-item-num(type="number", placeholder="数量", value="1", min="1")

      hr
      table#code_table

  script#toolbar(type="text/html")
    a.layui-btn.layui-btn-xs.js-code2mail 发送邮件
  != js("code/index")